@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    outline:none;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    backgrout:#f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

a {
    color: #f48b8b;
    text-decoraction: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active {color: #8ce4a6}
/* Selection Block*/

img {
    max-width: 100%;
    height: 100%;
    width: auto\9;
}

::selection {background: #f58b6b; color: #fff}
::-moz-selection {background: #f58b6b; color: #fff}

header, footer {
    width: 98%;
    background-color: #fff;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
}

#logo {
    font-size: 2em;
    font-family: "Comic Sans MS", sans-serif;
}

#contact {
    font-size: 1.5em;
    font-family: "Comic Sans MS", sans-serif;
    margin-left: 20px;
}

input[type=text].field {
    border-radius:5px;
    border:2px solid silver;
    padding: 5px;
    margin-left: 20px;

}

footer {
    border-top: 2px solid silver;
    margin-top: 10px;
    padding: 1%;
}